body {
    background-color: rgb(255, 237, 237);
}

.logo {
    margin: left 20%;
    width: 200px;
    height: auto;
}
.navbar{
    font-size:larger;
    color : white;
    background-color: #01035C;
}

#blague-container {
    background-color: rgb(151, 168, 247);
}

.blague {
    margin: 20px;
    display: flex;
    font-size: 1.5em;
justify-content: ;
}

#refresh-button {
    font-size: large;
    font-
    margin: 20px;
    margin-left : 20px;
width: 200px;
height: auto;
}