body {
    background-color: rgb(255, 237, 237);
}

.logo {
    width: 20vw;
    height: auto;
}

#blague-container {
    background-color: rgb(151, 168, 247);
}

.blague {
    margin: 20px;
    display: flex;
    font-size: 1.5em;

}